Repository voxpupuli/puppet-nomad, pull requests merged in 2023-04, with the labels that each got.

#83 modulesync 5.5.0
  .github/SECURITY.md
  .gitignore
  .msync.yml
  .pmtignore
  Gemfile
  Rakefile
Labels: modulesync

#82 add peers.json and script to recover from outage
  REFERENCE.md
  files/nomad-server-outage-recovery.sh
  manifests/init.pp
  manifests/server_recovery.pp
  spec/acceptance/server_recover_spec.rb
  spec/classes/init_spec.rb
  spec/default_module_facts.yml
Labels: enhancement

#88 Drop Puppet 6 support
  metadata.json
Labels: backwards-incompatible
